<div class="wrapper">
    <div class="card">
        <h2>Calculate Fibonacci number by index</h2>
        <mat-grid-list cols="2" rowHeight="3:1">
            <mat-grid-tile>
                <form [formGroup]="input" (ngSubmit)="getFib()">
                    <mat-form-field>
                        <mat-label>Enter index (1-20)</mat-label>
                        <input type="number" matInput formControlName="index">
                        <mat-error *ngIf="input.controls.index.errors?.required">Index is required</mat-error>
                        <mat-error *ngIf="input.controls.index.errors?.min || input.controls.index.errors?.max">Index
                            not in
                            range
                            (1-20)</mat-error>
                    </mat-form-field>
                    <button color="primary" mat-raisede-button [disabled]="input.invalid" mat-raised-button
                        type="submit">Get Value</button>
                </form>
            </mat-grid-tile>
            <mat-grid-tile>
                <h3>Value: {{value}}</h3>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>