.card {
    width: 65%;
    padding: 1rem;
    background-color: antiquewhite;
    border: 2px solid forestgreen;
    text-align: center;
    margin-top: 8px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

